* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.formulario {
    border: 2px ridge rgb(128, 0, 122);
    width: 500px;
    height: 600px;
    /* Distribuye para ambos lados */
    margin: 50px auto;
    /* redondear esquinas */
    border-radius: 20px;
    padding: 20px;
}

.formulario__submit {
    border: none;
    padding: 10px;
    color: white;
    background-color: violet;
    border-radius: 5px;
    margin-top: 10px;
    /* Colocando borde solo aabajo */
    border-bottom: 1px solid #25023a;
}

.formulario__input {
    width: 100%;
    padding: 5px 25px;
    border: none;
    /* outline -> es un segundo borde exterior, sin embargo, no es tomado en cuenta para calcular el ancho e un elemento , siempre esta flotando */
    outline: none;
    border-bottom: 1px solid #e5b8ff;
    background-color: #fcf6ff;
    background-image: url(./Vector.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center left;
    ;
}

.formulario__mensaje {
    width: 100%;
    outline: none;
    background-color: #fcf6ff;
    border: 1px solid rgb(128, 0, 122);
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}