/* :nth-child(<posicion>) */

li:nth-child(2) {
    color: blue;
}

li:first-child {
    color: red;
}

li:last-child {
    color: pink;
}


/* ----- odd - even --- */


/* odd - Pintar lineas impares */

tr:nth-child(odd) {
    background: orange;
}


/* even - pintar lineas pares */

tr:nth-child(even) {
    background: red;
}

th {
    background: seagreen;
}