* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.card {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: #888 0px 0px 10px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: mover 1s ease-in-out 1s infinite normal none; */
}

.card:hover {
    animation: mover 2s ease-in-out 0s infinite normal none;
}

@keyframes mover {
    /* es recomendable que el punto inicial o 0% sea igual al elemento sin animaciones  */
    0% {
        background-color: #fff;
    }
    /* 25% { 
        transform: rotate(45deg);
    } */
    50% {
        background-color: indianred;
        transform: scale(1.05, 1.05);
    }
    100% {
        background-color: #fff;
    }
}

.boton {
    padding: 5px 10px;
    border: none;
    background-color: violet;
    color: white;
    margin: 20px;
    border-radius: 3px;
    width: 100px;
    transition: box-shadow 2s ease;
}

.boton:hover {
    /* border-left: 20px solid rgb(139, 39, 139); */
    box-shadow: rgb(139, 39, 139) 100px 0px inset;
}

.contenedor {
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    background-color: violet;
    color: white;
    margin-left: 20px;
    border-radius: 3px;
    width: 100px;
    transition: box-shadow 2s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.contenedor:hover .contenedor__frame {
    left: 0;
}

.contenedor__frame {
    position: absolute;
    /* top: 0; */
    height: 100%;
    width: 100%;
    left: -100px;
    background-color: rgb(139, 77, 177, 0.3);
    transition: left 1s ease-in-out;
}

/* prueba */
.transition{
    width: 150px;
    height: 70px;
    background-color: violet;
    margin: 5px;
  }
  
  .transition:hover{
    width: 300px;
    height: 140px;
    background-color: #333;
  }
  
  .Ease{
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
  }
  
  .Linear{
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -o-transition: all 3s linear;
    transition: all 3s linear;
  }
  
  .Ease-In{
    -webkit-transition: all 3s ease-in;
    -moz-transition: all 3s ease-in;
    -ms-transition: all 3s ease-in;
    -o-transition: all 3s ease-in;
    transition: all 3s ease-in;
  }
  
  .Ease-Out{
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -ms-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
  }
  
  .Ease-In-Out{
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
  }