main{
    border: 1px red solid;
    }
    
    /* .carousel-cell {
        width: 25%;
        text-align: center;
        margin-right: 1rem;
    } */
    
    /* .img-modal {
        max-width: 100%;
    } */