/* Fuente mportada desde google fonts : poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300;1,400&display=swap');
code {
    color: violet;
}

.titulo {
    /* Tipo de fuente */
    font-family: Arial, Helvetica, sans-serif;
    /* tamañp de la fuente */
    font-size: 32px;
    /* Grosor de la fuente */
    /* Valores entre 100 y 900 donde 900 es super negrita */
    /* Valores "normal" y "bold" */
    font-weight: 00;
    font-style: italic;
}

.subtitulo {
    /* Une todas las propiedades de fuente */
    /* Orden : style weight size family  */
    font: normal 500 25px Arial;
}
 
.parrafos__p1 {
    text-align: center;
}

.parrafos__titulo {
    text-align: center;
    color: white;
    background-color: #444;
    /* espaciado entre letra y leytra */
    letter-spacing: 5px;
    /* espaciado entre letra y letra */
    word-spacing: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}